<div class="container">
  <h2>Update your Book</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="bookForm">
    <div class="form-group">
      <label for="bookTitle">Title:</label>
      <input type="text" id="bookTitle" name="title" class="form-control" formControlName="title" required>
    </div>
    <div class="form-group">
      <label for="bookDescription">Description:</label>
      <textarea id="bookDescription" name="description" class="form-control" formControlName="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="bookYear">Year of Book:</label>
      <input type="number" id="bookYear" name="yearOfBook" class="form-control" formControlName="yearOfBook" required>
    </div>
    <div class="form-group">
      <label for="bookImage">Image URL:</label>
      <input type="file" id="bookImage" name="image" class="form-control" formControlName="image" required>
    </div>
    <div class="form-group">
      <label for="bookFile">File URL:</label>
      <input type="file" id="bookFile" name="file" class="form-control" formControlName="file" required>
    </div>
    <div class="form-group">
      <label for="bookLength">Length:</label>
      <input type="number" id="bookLength" name="length" class="form-control" formControlName="length" required>
    </div>
    <div class="form-group">
      <label for="bookAuthorId">Author ID:</label>
      <input type="number" id="bookAuthorId" name="authorId" class="form-control" formControlName="authorId" required>
    </div>
    <!--    <div class="form-group">-->
    <!--      <label for="bookGenresId">Genre IDs (comma-separated):</label>-->
    <!--      <input type="text" id="bookGenresId" name="genresId" class="form-control" [(ngModel)]="genresIdString" required>-->
    <!--    </div>-->
    <button type="submit" class="btn btn-primary">Create Book</button>
  </form>
</div>
works2
